<h1 style="font-family: Roboto">THE YIFF STASH UPLOADER</h1>
<form action="/upload" enctype="multipart/form-data" method="post">
    <input type="file" id="myFile" name="thefile">
    <input type="submit">
</form>